# Import

In [1]:
import nltk
import pandas as pd
import numpy as np

# Installlation

In [2]:
# nltk.download('punkt')
# nltk.download('averaged_perceptron_tagger')
# nltk.download('brown')
# nltk.download('tagsets')
# nltk.download('gutenberg')
# nltk.download('genesis')
# nltk.download('inaugural')
# nltk.download('nps_chat')

# Load dataset

In [3]:
file = open('nltk.txt')
read_file = file.read()
text = nltk.Text(nltk.word_tokenize(read_file))
tags = nltk.pos_tag(text)
words = [word for (word, pos) in nltk.pos_tag(text)]
pos = [pos for (word, pos) in nltk.pos_tag(text)]
# match = text.concordance('car')

In [4]:
prh = {'Words':words,'Pos':pos}
df = pd.DataFrame(prh)
df

      Words  Pos
0         .    .
1       The   DT
2        is  VBZ
3         a   DT
4       car   NN
5         .    .
6      Will  NNP
7        is  VBZ
8   running  VBG
9         .    .
10      The   DT
11      car   NN
12       is  VBZ
13      new   JJ
14        .    .
15        I  PRP
16       'm  VBP
17   taking  VBG
18      the   DT
19    plane   NN
20        .    .

## Adding sentence id

In [5]:
senDf = df.copy()
senDf

      Words  Pos
0         .    .
1       The   DT
2        is  VBZ
3         a   DT
4       car   NN
5         .    .
6      Will  NNP
7        is  VBZ
8   running  VBG
9         .    .
10      The   DT
11      car   NN
12       is  VBZ
13      new   JJ
14        .    .
15        I  PRP
16       'm  VBP
17   taking  VBG
18      the   DT
19    plane   NN
20        .    .

In [6]:
#All examples position
indPos = senDf[senDf['Words']=="."]
indPos

   Words Pos
0      .   .
5      .   .
9      .   .
14     .   .
20     .   .

# Input

In [7]:
word1 = "The"
word2 = "NN"

# Filtering

### Filter 1

In [8]:
res = df[(df['Words'].str.contains(word1)) | (df['Pos'].str.contains(word1))]
res['index'] = res.index
res

<ipython-input-8-80d80e85ee86>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res['index'] = res.index

   Words Pos  index
1    The  DT      1
10   The  DT     10

In [9]:
# first filter passed
indices = res.iloc[:,2].values
indices

array([ 1, 10], dtype=int64)

### Filter 2

In [10]:
#Get the index of the good example
examplesPosition = []
for i in indices:
    if(i+1<len(df)):
        #Two verifiy that the searched word exist in the 3 next words 
        if((df.iloc[i+1].Words.lower() == word2.lower() or df.iloc[i+1].Pos.lower() == word2.lower()) or
          i+2<len(df) and ((df.iloc[i+2].Words.lower() == word2.lower() or df.iloc[i+2].Pos.lower() == word2.lower())) or
          i+3<len(df) and ((df.iloc[i+3].Words.lower() == word2.lower() or df.iloc[i+3].Pos.lower() == word2.lower()))):
                examplesPosition.append(i)
examplesPosition

[1, 10]

# Result

## Get the good examples indices

In [11]:
examplesPosition

[1, 10]

In [12]:
generalIndex = indPos.index.array
generalIndex

<PandasArray>
[0, 5, 9, 14, 20]
Length: 5, dtype: int64

In [13]:
#Find the list of index of the final example 
finalIndexList = []
for i in examplesPosition:
    #find the greater border index 
    position = np.argmax(generalIndex > i)
    finalIndexList.append(generalIndex[position])
    
    #Get the smaller border index
    indexes = [j for j, x in enumerate(generalIndex) if x < i]
    finalIndexList.append(generalIndex[max(indexes)])
    
finalIndexList.sort()
finalIndexList

[0, 5, 9, 14]

## Create the examples pairs

In [14]:
splitedSize = 2
examplesIndex = [finalIndexList[x:x+splitedSize] for x in range(0, len(finalIndexList), splitedSize)]

In [15]:
examplesIndex

[[0, 5], [9, 14]]

## Create the dataframe of the solution

In [16]:
# Create the solution dataframe
columns = ['Words','Pos']
finalSolution = pd.DataFrame(columns=columns)

for exa in examplesIndex:
    finalSolution = finalSolution.append(df.iloc[exa[0]:exa[1]])
finalSolution

   Words  Pos
0      .    .
1    The   DT
2     is  VBZ
3      a   DT
4    car   NN
9      .    .
10   The   DT
11   car   NN
12    is  VBZ
13   new   JJ

In [17]:
[finalSolution.Words]

[0       .
 1     The
 2      is
 3       a
 4     car
 9       .
 10    The
 11    car
 12     is
 13    new
 Name: Words, dtype: object]

# Show the final answer

In [26]:
for  row in df.iterrows():
    print(row['c1'], row['c2'])

0      \n
1     The
2      is
3       a
4     car
9      \n
10    The
11    car
12     is
13    new
Name: Words, dtype: object