# Import

In [104]:
import nltk
import pandas as pd
import numpy as np

# Installlation

In [105]:
# nltk.download('punkt')
# nltk.download('averaged_perceptron_tagger')
# nltk.download('brown')
# nltk.download('tagsets')
# nltk.download('gutenberg')
# nltk.download('genesis')
# nltk.download('inaugural')
# nltk.download('nps_chat')

# Load dataset

In [106]:
file = open('nltk.txt')
read_file = file.read()
text = nltk.Text(nltk.word_tokenize(read_file))
tags = nltk.pos_tag(text)
words = [word for (word, pos) in nltk.pos_tag(text)]
pos = [pos for (word, pos) in nltk.pos_tag(text)]
# match = text.concordance('car')

In [107]:
prh = {'Words':words,'Pos':pos}
df = pd.DataFrame(prh)
df

      Words  Pos
0         .    .
1       The   DT
2        is  VBZ
3         a   DT
4       car   NN
5         .    .
6         .    .
7      Will   MD
8        is  VBZ
9   running  VBG
10        .    .
11        .    .
12      The   DT
13      car   NN
14       is  VBZ
15      new   JJ
16        .    .
17        .    .
18        I  PRP
19       'm  VBP
20   taking  VBG
21      the   DT
22    plane   NN
23        .    .

In [108]:
df['index']= df.index

In [109]:
df

      Words  Pos  index
0         .    .      0
1       The   DT      1
2        is  VBZ      2
3         a   DT      3
4       car   NN      4
5         .    .      5
6         .    .      6
7      Will   MD      7
8        is  VBZ      8
9   running  VBG      9
10        .    .     10
11        .    .     11
12      The   DT     12
13      car   NN     13
14       is  VBZ     14
15      new   JJ     15
16        .    .     16
17        .    .     17
18        I  PRP     18
19       'm  VBP     19
20   taking  VBG     20
21      the   DT     21
22    plane   NN     22
23        .    .     23

## List of all example index/position

In [110]:
senDf = df.copy()
senDf

      Words  Pos  index
0         .    .      0
1       The   DT      1
2        is  VBZ      2
3         a   DT      3
4       car   NN      4
5         .    .      5
6         .    .      6
7      Will   MD      7
8        is  VBZ      8
9   running  VBG      9
10        .    .     10
11        .    .     11
12      The   DT     12
13      car   NN     13
14       is  VBZ     14
15      new   JJ     15
16        .    .     16
17        .    .     17
18        I  PRP     18
19       'm  VBP     19
20   taking  VBG     20
21      the   DT     21
22    plane   NN     22
23        .    .     23

In [111]:
# The list of all examlple index/position
indPos = senDf[senDf['Words']=="."]
indPos

   Words Pos  index
0      .   .      0
5      .   .      5
6      .   .      6
10     .   .     10
11     .   .     11
16     .   .     16
17     .   .     17
23     .   .     23

# Adding sentance id

In [112]:
# Create pair of index (Begin,End) of the example
splitedSize = 2
examplesIndex = [indPos.index[x:x+splitedSize] for x in range(0, len(indPos.index), splitedSize)]
examplesIndex

[Int64Index([0, 5], dtype='int64'),
 Int64Index([6, 10], dtype='int64'),
 Int64Index([11, 16], dtype='int64'),
 Int64Index([17, 23], dtype='int64')]

In [113]:
df["sentence_id"] = ""
i = 1
for exa in examplesIndex:

    df['sentence_id'][(df['index']>=exa[0]) & (df['index']<=exa[1] )] = i
    i =i+1

<ipython-input-113-d14aa2722008>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sentence_id'][(df['index']>=exa[0]) & (df['index']<=exa[1] )] = i
<ipython-input-113-d14aa2722008>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sentence_id'][(df['index']>=exa[0]) & (df['index']<=exa[1] )] = i
<ipython-input-113-d14aa2722008>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sentence_id'][(df['index']>=exa[0]) & (df['index']<=exa[1] )] = i
<ipython-input-113-d14aa2722008>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sentence_id'][(df['index']>=exa[0]) & (df['index']<=exa[1] )] = i

In [114]:
df

      Words  Pos  index sentence_id
0         .    .      0           1
1       The   DT      1           1
2        is  VBZ      2           1
3         a   DT      3           1
4       car   NN      4           1
5         .    .      5           1
6         .    .      6           2
7      Will   MD      7           2
8        is  VBZ      8           2
9   running  VBG      9           2
10        .    .     10           2
11        .    .     11           3
12      The   DT     12           3
13      car   NN     13           3
14       is  VBZ     14           3
15      new   JJ     15           3
16        .    .     16           3
17        .    .     17           4
18        I  PRP     18           4
19       'm  VBP     19           4
20   taking  VBG     20           4
21      the   DT     21           4
22    plane   NN     22           4
23        .    .     23           4

# Input

In [115]:
word1 = "Car"
word2 = "Verb"

## Convert  input to a list

In [116]:
#Convert the input to a list to group some inputs 
word1 = [word1]
word2 = [word2]

## Lowercase input

In [117]:
for i in range(len(word1)):
    word1[i] = word1[i].lower()

for i in range(len(word2)):
    word2[i] = word2[i].lower()

## Regrouping

In [118]:
if word1[0] == 'verb':
    word1 = ['VBZ','VBP','VBG']
    
if word2[0] == 'verb':
    word2 = ['VBZ','VBP','VBG']

# Filtering

## Filter 1

In [119]:
#Input: the index of the searched word
# Output: the position of the end of the example
def upperIndex(item,alist):
    #find the greater border index 
    position = np.argmax(alist > item)
    return alist[position]

In [120]:
df[df['Pos'].isin(word1) | df['Words'].isin(word1)]

   Words Pos  index sentence_id
4    car  NN      4           1
13   car  NN     13           3

In [121]:
word1

['car']

In [122]:
# df.iloc[4].Words.isin(word2)

df.apply(lambda x: df.iloc[4].isin(word1))

             Words    Pos  index  sentence_id
Words         True   True   True         True
Pos          False  False  False        False
index        False  False  False        False
sentence_id  False  False  False        False

In [124]:
res = df[(df['Words'].isin(word1)) | (df['Pos'].isin(word1))]
# res = df[(df['Words'].str.contains(word1)) | (df['Pos'].str.contains(word1))]
res['index'] = res.index
res

<ipython-input-124-774570324dd6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res['index'] = res.index

   Words Pos  index sentence_id
4    car  NN      4           1
13   car  NN     13           3

In [125]:
# first filter passed
indices = res.iloc[:,2].values
indices

array([ 4, 13], dtype=int64)

## Filter 2

In [103]:
#Get the index of the good example
examplesPosition = []
for i in indices:
    endExample = upperIndex(i,indPos.index)
    if(i+1<endExample):
        print(endExample)
        #Two verifiy that the searched word exist in the 3 next words 
#         if((df.iloc[i+1].Words.lower() == word2.lower() or df.iloc[i+1].Pos.lower() == word2.lower()) or
#           i+2<endExample and ((df.iloc[i+2].Words.lower() == word2.lower() or df.iloc[i+2].Pos.lower() == word2.lower())) or
#           i+3<endExample and ((df.iloc[i+3].Words.lower() == word2.lower() or df.iloc[i+3].Pos.lower() == word2.lower()))):
        if()
                examplesPosition.append(i)
examplesPosition

16

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

# Result

## Get the good examples indices

In [130]:
examplesPosition = indices

In [131]:
generalIndex = indPos.index.array
generalIndex

<PandasArray>
[0, 5, 6, 10, 11, 16, 17, 23]
Length: 8, dtype: int64

In [132]:
#Find the list of index of the final example 
finalIndexList = []
for i in examplesPosition:
    #find the greater border index 
    position = np.argmax(generalIndex > i)
    finalIndexList.append(generalIndex[position])
    
    #Get the smaller border index
    indexes = [j for j, x in enumerate(generalIndex) if x < i]
    finalIndexList.append(generalIndex[max(indexes)])
    
finalIndexList.sort()
finalIndexList

[0, 5, 11, 16]

## Create the examples pairs

In [133]:
splitedSize = 2
examplesIndex = [finalIndexList[x:x+splitedSize] for x in range(0, len(finalIndexList), splitedSize)]

In [134]:
examplesIndex

[[0, 5], [11, 16]]

## Create the dataframe of the solution

In [135]:
# Create the solution dataframe
columns = ['Words','Pos']
finalSolution = pd.DataFrame(columns=columns)

for exa in examplesIndex:
    finalSolution = finalSolution.append(df.iloc[exa[0]:exa[1]])
finalSolution

   Words  Pos  index sentence_id
0      .    .    0.0           1
1    The   DT    1.0           1
2     is  VBZ    2.0           1
3      a   DT    3.0           1
4    car   NN    4.0           1
11     .    .   11.0           3
12   The   DT   12.0           3
13   car   NN   13.0           3
14    is  VBZ   14.0           3
15   new   JJ   15.0           3

In [85]:
[finalSolution.Words]

[Series([], Name: Words, dtype: object)]

# Show the final answer